.mode-large.scenario-audio-component {
    .scenario-audio-strapline {
        display: none;
    }

    .scenario-audio-content-item.scenario-audio-hidden {
        display: none;
    }

    &.remove-instruction {
      .component-instruction {
        display: none;
      }
    }
}

.scenario-audio-component {
    .scenario-audio-widget {
        background-color: @background-color;
        margin-top: 0px;
    }

    .scenario-audio-content {
        width: 100%;
        background-color: @primary-color;
        color: @primary-color-inverted;
    }

    .scenario-audio-content-inner {
        padding: @body-text-margin;
    }

    &.mode-small .scenario-audio-content {
        display:none;
    }

    .scenario-audio-content-instruction {
        font-weight: bold;

        instr {
            color: @button-color;
        }
    }

    .scenario-audio-content-title {
      margin-bottom: @title-text-margin;
      .sub-title;
    }

    .scenario-audio-slide-container {
        width: 100%;
        position: relative;
        overflow-x: hidden;
    }

    .scenario-audio-slider-graphic {
        position: relative;
        float: left;
        .dir-rtl & {
            float: right;
        }
        img {
          display: block;
        }
    }

    .scenario-audio-indicators {
        position: relative;
        padding-top: 3px;
        text-align: center;
    }

    .scenario-audio-progress {
        width: (@icon-size/2);
        height: (@icon-size/2);
        display: inline-block;
        margin: 1px;
        border: inherit;
        border-radius: 50%;
        background-color: @item-color-selected;
        cursor: pointer;
        &.selected {
          background-color: @item-color;
        }
    }

    .scenario-audio-controls {
        display: block;
        width: (@icon-size*2);
        height: (@icon-size*2);
        position: absolute;
        top: 50%;
        margin-top: -(@icon-size*1.5);
        z-index: 10;
        text-decoration: none;
        background-color: @item-color;
        .no-touch &:hover {
            background-color: @item-color-hover;
            .icon {
                color: @item-text-color-hover;
            }
        }
        .icon {
            margin: (@icon-size/2);
            color: @item-text-color;
        }
        &.scenario-audio-hidden {
            visibility: hidden;
        }
    }

    .scenario-audio-control-left {
        left: 0;
        .dir-rtl & {
            left: inherit;
            right: 0;
        }
    }

    .scenario-audio-control-right {
        right: 0;
        .dir-rtl & {
            right: inherit;
            left: 0;
        }
    }

    .scenario-audio-strapline {
        height: auto;
        position: relative;
    }

    .scenario-audio-strapline-header {
        overflow: hidden;
        position: relative;
    }

    .scenario-audio-strapline-header-inner {
        position:relative;
    }

    .scenario-audio-strapline-title {

        .item-title;
        position: relative;
        text-decoration: none;
        background-color: @button-color;
        color: @button-text-color;
        overflow: hidden;
        min-height: (@item-padding-top + @item-padding-bottom + @icon-size);

        float: left;
        .dir-rtl & {
            float: right;
        }

        .icon {
            display: block;
            position: absolute;
            padding: @item-padding-top @item-padding-right @item-padding-bottom;
            color: @item-text-color;
            top: 0;
            right: 0;
            .dir-rtl & {
                right: inherit;
                left: 0;
            }
        }

        .no-touch &:hover {
            background-color: @button-color-hover;
            color: @button-text-color-hover;
            .icon {
                color: @button-text-color-hover;
            }

        }

        &.visited {
          background-color: @item-color-visited;
        }

        .focus-rect {
            position: absolute;
            right: extract(@focus-outline, 1);
            bottom: extract(@focus-outline, 1);
            top: extract(@focus-outline, 1);
            left: extract(@focus-outline, 1);
        }
    }

    .scenario-audio-strapline-title-inner {
        padding-left: (@icon-size/2);
        padding-right: (@item-padding-left + @item-padding-right + @icon-size);
        padding-top: 10px;
        padding-bottom: 10px;
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        vertical-align: middle;
        .dir-rtl & {
            padding-right: (@icon-size/2);
            padding-left: (@item-padding-left + @item-padding-right + @icon-size);
        }
    }

    .scenario-audio-popup-open {
        display: block;
        position: absolute;
        top:0;
        right:0;
        padding: @item-padding;
        background-color: @background-color-inverted;
        text-decoration: none;
        z-index: 5;
        .dir-rtl & {
            right:inherit;
            left:0;
        }
        .icon {
            color: @foreground-color-inverted;
            .no-touch &:hover {
                color: lighten(@background-color-inverted, 30%);
            }
        }
    }

    .scenario-audio-hidden {
        visibility: hidden;
    }

    &:not(.disable-animation) {
        .scenario-audio-slider,
        .scenario-audio-strapline-header-inner {
            transition: transform 400ms ease-in-out;
        }
    }
}
