.mode-large.scenario-audio {
  .scenario-audio__strapline {
    display: none;
  }

  .scenario-audio__content-item.scenario-audio__hidden {
    display: none;
  }

  &.remove-instruction {
    .component__instruction {
      display: none;
    }
  }
}

.scenario-audio {
  &__widget {
    background-color: @item-color;
    margin-top: 0;
  }

  &__content {
    width: 100%;
    background-color: @background-inverted;
    color: @font-color;
  }

  &__content-inner {
    padding: @component-body-margin;
  }

  &.mode-small .scenario-audio__content {
    display: none;
  }

  &__content-instruction {
    font-weight: bold;

    instr {
      color: @btn-color;
    }
  }

  &__content-title {
    margin-bottom: @component-title-margin;
  }

  &__slide-container {
    width: 100%;
    position: relative;
    overflow-x: hidden;
  }

  &__slider-graphic {
    position: relative;
    float: left;

    .dir-rtl & {
      float: right;
    }

    img {
      display: block;
    }
  }

  &__indicators {
    position: relative;
    padding-top: 3px;
    text-align: center;
  }

  &__progress {
    width: (@icon-size/2);
    height: (@icon-size/2);
    display: inline-block;
    margin: 1px;
    border: inherit;
    border-radius: 50%;
    background-color: @nav-icon;
    cursor: pointer;

    &.selected {
      background-color: @nav-icon-inverted;
    }
  }

  &__controls {
    display: block;
    width: (@icon-size*2);
    height: (@icon-size*2);
    position: absolute;
    top: 50%;
    margin-top: -(@icon-size*1.5);
    z-index: 10;
    text-decoration: none;
    background-color: @item-color;

    .no-touch &:hover {
      background-color: @item-color-hover;

      .icon {
        color: @item-color-inverted-hover;
      }
    }

    .icon {
      margin: (@icon-size/2);
      color: @item-color-inverted;
    }

    &.scenario-audio__hidden {
      visibility: hidden;
    }
  }

  &__control-left {
    left: 0;

    .dir-rtl & {
      left: inherit;
      right: 0;
    }
  }

  &__control-right {
    right: 0;

    .dir-rtl & {
      right: inherit;
      left: 0;
    }
  }

  &__strapline {
    height: auto;
    position: relative;
  }

  &__strapline-header {
    overflow: hidden;
    position: relative;
  }

  &__strapline-header-inner {
    position: relative;
  }

  &__strapline-title {
    .item-title;
    position: relative;
    text-decoration: none;
    background-color: @btn-color;
    color: @btn-color-inverted;
    overflow: hidden;
    min-height: (@item-padding + @icon-size);
    float: left;

    .dir-rtl & {
      float: right;
    }

    .icon {
      display: block;
      position: absolute;
      padding: @item-padding;
      color: @item-color;
      top: 0;
      right: 0;

      .dir-rtl & {
        right: inherit;
        left: 0;
      }
    }

    .no-touch &:hover {
      background-color: @btn-color-hover;
      color: @btn-color-inverted-hover;

      .icon {
        color: @btn-color-inverted-hover;
      }
    }

    &.is-visited {
      background-color: @visited;
    }

    .focus-rect {
      position: absolute;
      right: extract(@focus-outline, 1);
      bottom: extract(@focus-outline, 1);
      top: extract(@focus-outline, 1);
      left: extract(@focus-outline, 1);
    }
  }

  &__strapline-title-inner {
    padding: 10px (@item-padding + @icon-size) 10px (@icon-size/2);
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    vertical-align: middle;

    .dir-rtl & {
      padding-right: (@icon-size/2);
      padding-left: (@item-padding + @icon-size);
    }
  }

  .scenario-audio-popup-open {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: @item-padding;
    background-color: @item-color-inverted;
    text-decoration: none;
    z-index: 5;

    .dir-rtl & {
      right: inherit;
      left: 0;
    }

    .icon {
      color: @item-color-inverted;

      .no-touch &:hover {
        color: lighten(@item-color-inverted, 30%);
      }
    }
  }

  &__hidden {
    visibility: hidden;
  }

  &:not(.disable-animation) {
    .scenario-audio__slider,
    .scenario-audio__strapline-header-inner {
      transition: transform 400ms ease-in-out;
    }
  }
}
