.scenario-audio-component {

  .component-instruction {
      background-color: @primary-color;
      color: @primary-color-inverted;
  }

  .scenario-audio-widget {
      background-color: @background-color;
      margin-top: 0px;
  }

    &.desktop {
        .scenario-audio-slide-container {
            width: 100%;
            margin-right: 3%;
            float: left;
            .dir-rtl & {
                margin-right: inherit;
                margin-left: 3%;
                float: right;
            }
        }

        .scenario-audio-content-title-inner {
          font-weight: @item-title-font-weight;
          margin-bottom: @item-padding-bottom;
        }

        .scenario-audio-slider-graphic {
            margin-right: 0;
            width:50%;
        }

        .scenario-audio-strapline {
            display:none;
        }

        .scenario-audio-content-inner {
            .scenario-audio-controls {
                position: static;
                display: none;
                margin-top: 0px;
                margin-bottom: 10px;
                width: auto;
                height: auto;
                padding: 8px;
                .icon {
                    margin: 0px;
                }
            }
            .scenario-audio-indicators {
                display: none;
                position: relative;
                top: -4px;
            }
            .scenario-audio-progress {
                background-color: @item-color;
                &.selected {
                    background-color: @item-color-selected;
                }
            }
        }
    }

    .scenario-audio-content {
        width: 100%;
        background-color: @primary-color;
        color: @primary-color-inverted;
        margin-top: -4px;
        float: right;
        .dir-rtl & {
            float: left;
        }
    }

    .scenario-audio-content-inner {
        padding: @component-padding;
    }

    &.mobile {
        .scenario-audio-content {
            display:none;
        }
    }

    .scenario-audio-content-instruction {
        font-weight: bold;

        instr {
            color: @button-color;
        }
  	}

    .scenario-audio-slide-container {
        width: 100%;
        position: relative;
        overflow-x: hidden;
        float: left;
        .dir-rtl & {
            float: right;
        }
    }

    .scenario-audio-slider-graphic {
      overflow: hidden;
        position: relative;
        float: left;
        .dir-rtl & {
            float: right;
        }

        img {
          display: block;
        }
    }

    .scenario-audio-item-title {
        position:relative;
        display:block;
    }

    .scenario-audio-indicators {
        text-align: center;

        background-color: @text-background-color;
        .no-opacity & {
            background-color: @text-background-color-fallback;
        }
    }

    .scenario-audio-progress {
        width: (@icon-size/2);
        height: (@icon-size/2);
        display: inline-block;
        margin: 1px;
        margin-top: 10px;
        border: inherit;
        border-radius: 50%;
        cursor: pointer;

        background-color: @item-color;

        &.selected {
          background-color: @item-color-selected;
        }
    }

    .scenario-audio-controls {
        display: block;
        width: (@icon-size*2);
        height: (@icon-size*2);
        position: absolute;
        top: 50%;
        margin-top: -(@icon-size);
        z-index: 10;
        text-decoration: none;
        background-color: @item-color;
        .no-touch &:hover {
            background-color: @item-color-hover;
            .icon {
                color: @item-text-color-hover;
            }
        }
        .icon {
            margin: (@icon-size/2);
            color: @item-text-color;
        }
        &.scenario-audio-hidden {
            display: none;
        }
    }

    .scenario-audio-control-left {
        left: 0;
        .dir-rtl & {
            left: inherit;
            right: 0;
        }
    }

    .scenario-audio-control-right {
        right: 0;
        .dir-rtl & {
            right: inherit;
            left: 0;
        }
    }

    .scenario-audio-strapline {
        height: auto;
        position: relative;
    }

    .scenario-audio-strapline-header {
        overflow: hidden;
        position: relative;
    }

    .scenario-audio-strapline-header-inner {
        position:relative;
    }

    .scenario-audio-strapline-title {
        position: relative;
        float: left;
        text-decoration: none;
        background-color: @button-color;
        color: @button-text-color;
        .dir-rtl & {
            float: right;
        }
        .icon {
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            color: @button-text-color-hover;
            .dir-rtl & {
                right: inherit;
                left: 0;
            }
        }
        .no-touch &:hover {
            background-color: @button-color-hover;
            color: @button-text-color-hover;
            .icon {
                color: @button-text-color-hover;
            }

        }
        .focus-rect {
            position: absolute;
            right: extract(@focus-outline, 1);
            bottom: extract(@focus-outline, 1);
            top: extract(@focus-outline, 1);
            left: extract(@focus-outline, 1);
        }
    }

    .scenario-audio-strapline-title-inner {
        height: (@item-padding-top + @item-padding-bottom + @icon-size);
        line-height: (@item-padding-top + @item-padding-bottom + @icon-size);
        padding-left: (@icon-size/2);
        padding-right: (@item-padding-left + @item-padding-right + @icon-size);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .dir-rtl & {
            padding-right: (@icon-size/2);
            padding-left: (@item-padding-left + @item-padding-right + @icon-size);
        }
    }

    .scenario-audio-popup-open {
        display: block;
        position: absolute;
        top:0;
        right:0;
        padding: @item-padding;
        background-color: @background-color-inverted;
        text-decoration: none;
        z-index: 5;
        .dir-rtl & {
            right:inherit;
            left:0;
        }
        .icon {
            color: @foreground-color-inverted;
            .no-touch &:hover {
                color: lighten(@background-color-inverted, 30%);
            }
        }
    }

    .scenario-audio-hidden {
        display:none;
    }

    button.base.disabled {
      min-height: 44px;
    }
}


html.accessibility {

    .scenario-audio-control-left:focus, .scenario-audio-control-left.focus {
        left: extract(@focus-outline, 1);
        .dir-rtl & {
            left: inherit;
            right: extract(@focus-outline, 1);
        }
    }

    .scenario-audio-control-right:focus, .scenario-audio-control-right.focus {
        right: extract(@focus-outline, 1);
        .dir-rtl & {
            right: inherit;
            left: extract(@focus-outline, 1);
        }
    }


    &.no-touch {
        .scenario-audio-strapline-title:focus .focus-rect {
            outline: @focus-outline;
        }
    }
}
